html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}
/*
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
*/

.btn { 
  background-color: #B71C1C ; /* deepRed */
  background-color: #FBB03B; /* orange */
  background-color: rgba(251,176,59,1) !important; /* orange */
  color: #ffffff;
  color: #444; 
}

.brand-logo {
	margin: 0.4rem;
}

body.modal-open {
    overflow: visible;
}


::-webkit-input-placeholder { /* Chrome */
  color: #FBB03B;
  color: #444;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FBB03B;
  color: #444;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FBB03B;
  color: #444;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FBB03B;
  color: #444;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}



#nav-input {
  background-color: rgba(251,176,59,0.5);
  border-radius: 10em;
  height: 2.5em;
  margin: 0.95em
}


#nav-input > i {
  position: absolute;
  left: 0.8em;
  top: -0.4em;

}
#nav-input > input {
  position: relative;
  top: -0.5em;
  left: -1.5em;

}
