html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.map_canvas {
    position: relative;
}

#googleMap {
    position: absolute;
    top: 58px;
    bottom: 0;
    right: 0;
    left: 0;
}