::-webkit-input-placeholder { 
  color: #FBB03B;
  color: #444;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { 
  color: #FBB03B;
  color: #444;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { 
  color: #FBB03B;
  color: #444;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { 
  color: #FBB03B;
  color: #444;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}



#nav-input {
  background-color: rgba(251,176,59,0.5);
  border-radius: 10em;
  height: 2.5em;
  margin: 0.95em
}


#nav-input > i {
  position: absolute;
  left: 0.8em;
  top: -0.4em;

}
#nav-input > input {
  position: relative;
  top: -0.66em;
  left: 0em;

}