# Logs
logs
*.log
npm-debug.log*
yarn*.lock

# Dependency directories
node_modules
.ETC
yarn*.lock

# Meteor
.meteor/local
.meteor/meteorite

# OSX
.DS_Store

# Keys 
settings-prod.json
settings-dev.json

# Folder 
**/build/