<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>TRACKING_ID</key>
  <string>UA-12892693-8</string>
  <key>CLIENT_ID</key>
  <string>1039420537399-qqf125j7shii1di72qgodngmrqu6rm23.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.1039420537399-qqf125j7shii1di72qgodngmrqu6rm23</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.Mobbapp</string>
  <key>PROJECT_ID</key>
  <string>blacklist-1470770147128</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <true></true>
  <key>IS_APPINVITE_ENABLED</key>
  <false></false>
  <key>IS_GCM_ENABLED</key>
  <false></false>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Let's Get Cozy!</string>
  <key>GOOGLE_APP_ID</key>
  <string>1:1039420537399:ios:f2a39b32c54d770e</string>
</dict>
</plist>