@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "palettes/colors";
@import "palettes/_plt_orng-tetrad";

[id='aboutModal'] {
  width: 100%;
  max-height: 80%;
  background-color: $rgba-primary-grey-4;

  .modal-content {
    color: $rgba-primary-grey-1;

    p {
      margin-bottom: 0;
    }

    .row:last-child {
      margin-bottom: 0;
    }
  }

  .about-wrapper {
    // position: relative;
    // top: 3rem;
    $background: $rgba-primary-grey-4;

    %social-icon-hover {
      border-radius: 100%;
      color: $background;

      // IE8
      fill: $background;
      transform: scale(1.25);
      transition: background-color .5s, transform .5s ease-out;
    }

    .hint {
      color: $rgba-secondary-grey-2-1;
    }

    a {
      color: $rgba-secondary-1-2;
    }

    h4, h5 {
      color: $rgba-primary-0;
    }

    svg {
      height: 3em;
      display: inline-block;
      margin: 0 auto;
      color: $rgba-primary-1;
      fill: $rgba-primary-1;
      background-color: $background;

      &:hover {
        background: $rgba-primary-1;

        @extend %social-icon-hover;
      }
    }
  }

  .about_img {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  hr {
    width: 80%;
  }
}