@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

[id='modalAdd'],
[id='modalEdit'] {
  background-color: $rgba-primary-1;
  color: $rgba-secondary-2-4;
  

  .modal-content {
    padding: .6rem;

    ul {
      background-color: white;
    }

    .collapsible-header {
      color: $clr-grey;
      font-size: 1.3rem;
      background-color: $rgba-primary-2;
    }
  }

  .modal-footer {
    background-color: $rgba-primary-grey-1;
    color: $rgba-primary-grey-4;

    button {
      background-color: $rgba-complement-4;
      color: $rgba-primary-3;
    }
  }
}

[id='modalAdd'],
[id='modalEdit']  {
  .row {
    .col {
      padding: 0 .2rem;
    }

    margin: 0;
  }

  .fileUpload {
    margin: 0;
  }

  .af-checkbox-group {
    p {
      padding: 0;
    }
  }

}

// [id='row_categories'] {
//   position: relative;
//   top: -1.5rem;
// }

//MOBILE 
@media #{$medium-and-down} {
  [id='modalAdd'],
  [id='modalEdit'] {
    margin-top: 35px;
    height: 90%;
    z-index: 1000;
  }
}

