@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";

// @import "{}public/js/odometer-0.4.6/sass/odometer-theme-digital.sass";

@media #{$medium-and-up} {

  [id='bragbox'] {
    color: #eee0d3;
    font-size: 1.3rem;
    vertical-align: top;
    padding-top: 5px;
    display: inline-block;
    position: relative;

    .odometer {
      line-height: 1.5rem;
    }
  }
}

@media #{$small-and-down} {

  [id='bragbox'] {
    color: #eee0d3;
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
    top: -10px;

    .odometer {
      // height: 90%;
      // line-height: 1.5rem;
   
    }
  }
}