// @import "{}public/js/odometer-0.4.6/sass/odometer-theme-digital.sass";

[id='bragbox'] {
  color: #eee0d3;
  font-size: 1.3rem;
  padding: 0 10px;

  .odometer {
    // height: 90%;
    font-family: inherit;
    line-height: 100%;
  }
}