@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

.select_wrapper {
  a {    
    position: relative;
    z-index: 0;
  }

  i {    
    position: relative;
    z-index: -1;
  }


  .dropdown-content {
    background-color: $rgba-primary-grey-3;
    li {
      // min-height: inherit;
      
      &:hover {
        background-color: $clr-grey-light;
      }
      // margin: .3rem;

      a {
          padding: 5px 2px;
          color: $clr-orange;
      }
    }
      
    .badge {
      min-width: 4ch;
      font-size: .8rem;
      color: $rgba-complement-4;
      background-color: $rgba-complement-1;
    }
  }

}