@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';


  .dropdown-content {
    background-color: $clr-grey;

    li > a {
      // padding: 0 auto;
    }

    .badge {
      background-color: $clr-gold;
      color: $clr-purple;
      right: .3rem;
      margin: 0;

    }
  }
