@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';

.select_wrapper {
  a {    
    position: relative;
    z-index: 0;
  }

  i {    
    position: relative;
    z-index: -1;
  }


  .dropdown-content {
    min-width: 260px;
    background-color: $clr-grey-light;
    
    li {
      min-height: inherit;

      a {
          padding: .5rem;
          color: $clr-orange;
      }
    }
      
    .badge {
      color: $clr-grey;
      background-color: $clr-green;
    }
  }

}