@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';


[id='centerButton_button'] {
  position: fixed;
  bottom: 2.66rem;
  right: 0;
  margin: 0.5em;

  i {
    font-size: 1.7rem;
  }
}
