@import "palettes/colors";
@import "palettes/plt_orng-tetrad";

[id='card_closest'] {
  position: absolute;
  bottom: 0;
  z-index: 10000;
  height: 8rem;
  width: 20rem;

  // background-size: ;

  .badge-share {
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .fav_star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 2px;
    line-height: .5rem;
  }

  a {
    color: inherit;
  }

  h6 {
    color: $color-primary-4;
    font-size: 1rem;
    margin: .2rem;
  }

  .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    font-size: .8rem;
    height: 1rem;
    margin: .2rem;
    color: $rgba-primary-grey-4;
    background-color: $rgba-complement-2;
  }

  .address {
    margin: 0;
    color: $color-primary-1;

    .address-phone {
      color: $rgba-secondary-2-0;

      i {
        color: $rgba-secondary-2-0;
        width: 1ch;
        margin: 0 3px;
      }
    }
  }
}

.modal-footer > .row {
  margin-bottom: 0;

  a {
    &:nth-child(1) {
      background-color: $rgba-primary-4;
    }

    &:nth-child(2) {
      background-color: darken($rgba-primary-4, 10%);
    }

    &:nth-child(3) {
      background-color: darken($rgba-primary-4, 20%);
    }

    &:nth-child(4) {
      background-color: darken($rgba-primary-4, 30%);
    }
  }
}