@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';

.closest-wrapper {
    background-color: $clr-grey-clear;
    
    .title {
      background-color: $clr-grey-light;
    }

    .addModal-trigger {
      display: block;
      background-color: $clr-orange;   
      font-size: 1.2rem;
      color: white;
      margin: .3rem;
      padding: .2rem;
    }
}

@media #{$small-and-down} {
  .closest-wrapper {

    h3 {
      margin: .5rem;;
    }

    font-size: .8rem;
    // display: none;
    position: absolute;
    left: 0; 
    width: 33%;
    margin-top:40px;
    padding: .5rem 0;

    .title > * {
      font-size: 1.5rem;
    }

  }

  .closestFlex { 
      /* closestFlex container */
      height: 100%;

      .closestFlex_sizer {
        width: 99%;
      }

      .closestFlex_item {
        float: left;
        display: inline-block;
        max-width: 100%;
        // min-width: 175px;
        // width: 100%;
        margin: 1px;
        
        .card-content {
          padding: .3rem;
          font-size: .9em;

          h5 {
            font-size: 1.1rem;
            margin: .3rem;
          }
        }
      }
    }



}



@media #{$medium-and-up} {

  .closest-wrapper {
    position: absolute;
    left: 0;
    right: 50%;

    h3 {
      margin: .5rem;
    }

  }

  .closestFlex { 
    /* closestFlex container */
    height: 100%;

    .closestFlex_sizer {
      width: 20%;
    }

    .closestFlex_item {
      float: left;
      display: inline-block;
      max-width: 48%;
      // min-width: 175px;
      // width: 100%;
      margin: 3px;

      .card-content {
        padding: .3rem;
        font-size: .9em;
      }
    }
  }


}
