@import "palettes/colors";
@import "palettes/plt_orng-tetrad";

[id='bottom_Row'] {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

[id='card_closest'] {
  visibility: hidden;
  background: linear-gradient(to right, rgba(75, 123, 211, 0.8), rgba(22, 215, 177, 0.8));
  margin: 1rem auto;
  padding: .3rem;
  height: 8rem;
  width: 20rem;
  font-size: .8rem;

  // background-size: ;

  .badge-share {
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .fav_star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 2px;
    line-height: .5rem;
  }

  a {
    color: inherit;
  }

  h6 {
    color: $color-primary-2;
    font-size: 1rem;
    margin: .2rem;
  }

  .badge {
    padding: 1px;
    font-size: .8rem;
    line-height: 14px;
    height: auto;
    color: $rgba-primary-grey-1;

    // background-color: $rgba-complement-3;

    i {
      font-size: inherit;
      line-height: inherit;
      height: inherit;
      color: inherit;
    }
  }

  .address {
    margin: 0;
    color: $color-primary-1;

    .address-phone {
      display: block;
      color: $rgba-secondary-2-0;

      i {
        color: $rgba-secondary-2-0;
        width: 1ch;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}

.modal-footer > .row {
  margin-bottom: 0;

  a {
    &:nth-child(1) {
      background-color: $rgba-primary-4;
    }

    &:nth-child(2) {
      background-color: darken($rgba-primary-4, 10%);
    }

    &:nth-child(3) {
      background-color: darken($rgba-primary-4, 20%);
    }

    &:nth-child(4) {
      background-color: darken($rgba-primary-4, 30%);
    }
  }
}