@import "palettes/colors";
@import "palettes/plt_orng-tetrad";

@mixin border-gradient($clr1, $clr2) {
  border: 1px solid transparent;
  background: inherit;
  background-clip: padding-box;
  border-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to bottom right, $clr1, $clr2);
    z-index: -1;
    border-radius: 3px;
  }
}

[id='bottom_Row'] {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

[id='card_closest'] {
  visibility: hidden;
  margin: 1rem auto;
  padding: .3rem;
  height: 8rem;
  width: 20rem;
  font-size: .8rem;

  // background-size: ;

  .badge-share {
    margin: 2px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .fav_star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 2px;
    line-height: .5rem;
  }

  a {
    color: inherit;
    margin-left: 1rem;
  }

  h6 {
    color: $color-primary-2;
    font-size: 1rem;
    margin: .2rem;
  }

  .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1px;
    font-size: .8rem;
    line-height: 14px;
    height: auto;

    // background: radial-gradient(circle at top left, $rgba-primary-grey-4, $rgba-secondary-grey-1-4);
    color: $rgba-primary-grey-1;

    @include border-gradient($rgba-complement-3, $rgba-secondary-1-2);

    // background-color: $rgba-complement-3;

    i {
      font-size: 1rem;
      line-height: inherit;
      vertical-align: bottom;
      height: inherit;
      color: inherit;
    }
  }

  .address {
    margin: 0;
    color: $color-primary-1;

    span {
      display: block;
    }

    .address-phone {
      display: block;
      color: $rgba-secondary-2-0;

      i {
        color: $rgba-secondary-2-0;
        width: 1ch;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}