@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

* {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

html {
  font-height: 14px;
  line-height: 1em;
  color: $rgba-primary-grey-1;
}

.card-content {
  color: $rgba-primary-2;

  .address-phone {
    color: $rgba-secondary-2-0;
   
    i {
      color: $rgba-secondary-2-0;
    }
  }
}

.modal-content {
  color: $color-primary-grey-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Palatino Linotype', Palatino, serif;
  color: $color-primary-3;
  text-transform: capitalize;
}

p {
  line-height: 1.5rem;
}

.btn {
  color: $clr-grey;
}

.at-form {
  color: $rgba-primary-grey-4;
}

.title, .address {
  text-transform: capitalize;
}

.muted {
  color: $color-primary-grey-2;
}

.brand {
  color: $rgba-primary-4;
  font-weight: 800;
}

.smalltext {
  font-size: 0.85em;
}

.address {
  a {
    color: $color-secondary-2-2;
  }
}

[id='at-signIn'] {
  color: $color-primary-1;
  font-size: 1.2rem;
}

.orion-materialize-admin {
  color: $rgba-primary-grey-4;
}

.dropdown-content {
  li > span{
    color: $rgba-primary-4;
  }
}
