
@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

.fav_star {
  margin: 3px;
  padding: 3px;

  .remove_favorite {
    color: $clr-red !important;
  }

  .add_favorite {
    color: $rgba-primary-3 !important;
  }
}
