footer {
  bottom: 0;
  right: 0;
  font-size: 9px;
  //height to hide Google Maps logo = 1.5rem, 
  height: 1rem;
  position: absolute;
  min-width: 300px;

  a {
    color: inherit;
    text-decoration: none;
	}
}
