@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

[id='fullPage'] {

  .card-panel {
    padding: 1rem;
    
    .badge-distance {
      background-color: $rgba-complement-3;
      color: $rgba-complement-1;
      font-size: 1rem;
    }
    p {
      margin: 0;
      line-height: 16px;
    }

    .card-title {
      font-size: 1.2rem;

      i {
        color: $rgba-complement-3;
        font-size: 16px;
        position: relative;
        bottom: -2px;
        margin-right: 3px;
        margin-bottom: 10px;
      }
    }

    .fav_star {
      position: absolute;
      right: 0;
      z-index: 3;
    }

    .card-map {
      width: 100%; 
      height: 200px;
      margin: 0;
      padding: 0;
    }
    .col {
      img {
        width: 100%;
      }
    }
    .list_hours {
      margin: 0;

      li {
        font-size: .85rem;
      }
    }

    .collection-item {
      padding: 3px 1rem;

      img {
        margin: 0;
        width: 100%;
      }
      p {
        margin: 3px;
      }
    }

    .comments > .header {
      display:none;
    }
  }
}