@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

[id='fullPage'] {
  h4,h5 {
    color: $rgba-complement-4;
  }

  .card {
    padding: 1rem;
    background-color: $rgba-primary-grey-1;

    .dropdown-content {
      background-color: $rgba-primary-grey-4;
      li > a {
        color: $rgba-primary-grey-1;
      }
    }
    .dropdown-button.active {
      display: block;
      color: $rgba-primary-grey-1;
      background-color: $rgba-primary-grey-4;
    }
  }
  .card-image {
    img {

    }
  }
  .card-content {
    padding: 0;
    color: $rgba-primary-grey-4;

    p {
      padding: 1rem;
      line-height: 1.7rem;
    }
  }
  .card-action {
    a {
      &:nth-child(1) {
        background-color: $rgba-complement-2;
      }
      &:nth-child(2) {
        background-color: $rgba-complement-0;
      }      
      &:nth-child(3) {
        background-color: $rgba-complement-3;
      }
      &:nth-child(4) {
        background-color: $rgba-complement-4;
      }            
    }
  }
  .card-panel {
    position: relative;
    padding: 1rem;
    background-color: $rgba-primary-grey-1;
    color: $rgba-primary-grey-4;

    .badge-distance {
      background-color: $rgba-complement-2;
      color: $rgba-complement-1;
      font-size: 1rem;
    }

    p {
      margin: 0;
      line-height: 1.3rem;
    }

    .card-title {
      font-size: 1.2rem;

      i {
        color: $rgba-complement-2;
        font-size: 17px;
        position: relative;
        bottom: -2px;
        margin-right: 3px;
        margin-bottom: 10px;
      }
    }

    .fav_star {
      margin: 0 1rem;
      i {
        color: $rgba-complement-3;
      }
    }

    .badge-share {
      margin: 0 1rem;
      i {
        color: $rgba-complement-3;
      }
    }

    .card-map {
      width: 100%; 
      height: 200px;
      margin: 0;
      padding: 0;
    }
    .col {
      img {
        width: 100%;
      }
    }
    .list_hours {
      margin: 0;

      li {
        font-size: .85rem;
      }
    }

    .collection-item {
      padding: 3px 1rem;

      img {
        margin: 0;
        width: 100%;
      }
      p {
        margin: 3px;
      }
    }

    .comments > .header {
      display:none;
    }
  }
}


//MOBILE 
@media #{$medium-and-down} {
  [id='fullPage'] {
    margin-top: 35px;
  }
}