@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';

.gallery-wrapper {
  @media #{$medium-and-up} {
		position: absolute;
		left: 0;
		right: 50%;
  }
	background-color: $clr-grey-clear;

	.title {
		background-color: $clr-grey-light;
	}
}
