@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';

.gallery-wrapper {
  @media #{$medium-and-up} {
		position: absolute;
		left: 0;
		right: 50%;
  }
	background-color: $clr-grey-clear;
	// padding: 0.5rem;
	// display: -webkit-flex;
	// display: flex;
	// -webkit-justify-content: center;
	// justify-content: center;
	// -webkit-flex-wrap: wrap;
	// flex-wrap: wrap;
	// flex-flow: row wrap;
	// -webkit-box-sizing: border-box;
	// -moz-box-sizing: border-box;
	// box-sizing: border-box;	

	.title {
		background-color: $clr-grey-light;
	}
}
