@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';


.info-card {
	// margin: 1rem;
	
  img {
		max-width: 100%;
	}
	
  a, .social{
		color: $rgba-secondary-2-0;
    font-size: .9rem;
	}

  h5 {
    font-size: 1.2rem;
  }

  .badge {
    color: $rgba-secondary-1-4;
    background-color: $rgba-complement-2;
    margin: .3rem;
    font-size: .8rem;
  }
}

