@import 'palettes/colors';

.info-card{
	// margin: 1rem;
	max-width: 250px;
	
  img {
		max-width: 100%;
	}
	
  a {
		color: $clr-green;
	}

  h5 {
    font-size: 1.4rem;
  }
  .social {
    font-size: 1.2rem;
  }
}

