@import 'palettes/colors';
@import 'palettes/plt_orng-tetrad';

[id='infoWrap'] {
  position:relative;

  .badge-share {
    margin: 3px;
    position:absolute;
    top:0;
    right:0;

  }

  .fav_star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 3px;
    line-height: .8rem;
  }

  a {
    color: inherit;
  }

}

.row.modal.bottom-sheet {
  background-color: rgba(68, 68, 68, .8);

  h5 {
    color: $color-primary-4;
    font-size: 1.4rem;
    margin: .3rem;
  }
  .badge {
    position:absolute;
    bottom: 0;
    right: 0;
    margin: .3rem;
    color: $rgba-primary-grey-4;
    background-color: $rgba-complement-2;
    
  }

  .address {
    margin: 0;
    color: $color-primary-1;

    .phone {
      color: $rgba-secondary-2-0;

      i {
        color: $rgba-secondary-2-0;
        width: 1ch;
        margin: 0 3px;
      }
    }

  }
}

.modal-footer > .row {
  margin-bottom: 0;
  a {
    &:nth-child(1) {
      background-color: $rgba-primary-4;
    }
    &:nth-child(2) {
      background-color: darken($rgba-primary-4, 10%);
    }    
    &:nth-child(3) {
      background-color: darken($rgba-primary-4, 20%);
    }    
    &:nth-child(4) {
      background-color: darken($rgba-primary-4, 30%);
    }    
  }
}
