@import 'palettes/colors';

[id='infoWrap'] {
  a {
    color: inherit;
  }

}

.row.modal.bottom-sheet {
  background-color: rgba(68, 68, 68, .8);

  h5 {
    font-size: 1.4rem;
    margin: .3rem;
  }
  .badge {
    position:absolute;
    top: 0;
    right: 0;
    margin: .3rem;
    background-color: $clr-gold;
    color: blue;
    
  }

  .address {
    margin: 0;
  }
}

.modal-footer > .row {
  margin-bottom: 0;
}
