@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';


.list-wrapper {
  background-color: $clr-grey;
  margin-top: $navbar-height;
  
  .collection-header {
    text-align: center;
  }

  .collection {

  }

}
