@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: $clr-gold;
  padding-top: $navbar-height/2;
  background-color: $clr-grey;
}

// @font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
// }

.address {
  a {
    color: $clr-green;
  }
}

.btn {
  color: $clr-grey;
  background-color: $clr-orange;
}

.modal-open {
  overflow: visible;
}

[id='at-signIn'] {
  font-size: 1.3rem;
}

.modal {
  @media #{$medium-and-down} {
   width: 90%;
  }
}
// .category-select {
//   position: absolute;
//   top: 80px;
//   left: 0;
//   z-index: 10000;
//   visibility: visible;
//   border: 1px solid red;
// }

.at-form {
  padding-top: 50px
}
