@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: $clr-gold;
  padding-top: $navbar-height/2;
  background-color: $clr-grey;
}

.address {
  a {
    color: $clr-green;
  }
}

.btn {
  color: $clr-grey;
  background-color: $clr-orange;
}

.modal-open {
  overflow: visible;
}

[id='at-signIn'] {
  font-size: 1.3rem;
}

.modal {
  @media #{$medium-and-down} {
   width: 90%;
  }
}
// .category-select {
//   position: absolute;
//   top: 80px;
//   left: 0;
//   z-index: 10000;
//   visibility: visible;
//   border: 1px solid red;
// }

.at-form {
  padding-top: 50px
}
