@import '{}/node_modules/materialize-css/sass/components/mixins';
@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';


// ================================================ CSS RESET ================================================


// ================================================ ELEMENTS ================================================

html { 
  box-sizing: border-box; 
} 

*, 
*:before, 
*:after { 
  box-sizing: inherit; 
} 

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $rgba-primary-grey-4;
}

// ================================================ INPUTS AND FORMS ================================================
::-webkit-input-placeholder {
  color: $color-primary-grey-2;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: $color-primary-grey-2;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0.3;
}

::-moz-placeholder {
  color: $color-primary-grey-2;
  opacity: .5;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0.3;
}

:-moz-placeholder {
  color: $color-primary-grey-2;
  opacity: .5;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0.3;
}


// ================================================ MATERIALIZE OVERWRITES ================================================ 
.btn,
.btn-floating {
  background-color: $clr-orange;

  &:hover {
    background-color: $clr-orange-dark !important;
  }
}



.modal-open {
  overflow: visible;
}

.modal {
  @media #{$medium-and-down} {
    width: 90%;
  }
}

// ================================================ ALDEED AUTOFORMS OVERWRITES ================================================
.at-form {
  background-color: $rgba-primary-1;
  padding: 50px;
  min-width: 80%;
}
 
// ================================================ CUSTOM CLASSES ================================================

.myToast {
  background-color: $clr-gold;
}

.myGoodToast {
  background-color: $color-secondary-2-2;
}

.myBadToast {
  background-color: $clr-warn;
}

.broken-image {
  visibility: hidden;
}

.select_wrapper {
  a {
    position: relative ;
    z-index: 0 ;
  }

  i {
    position: relative;
    z-index: -1;
    display: inline !important;
  }
}

.card {

  .card-action {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
  }
}

.flex-center {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

[id='at-signIn'] {
  background-color: $color-secondary-1-2;
  padding: .3rem 1rem;
  border-radius: 3px;
  @include box-shadow-2(0 5px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}

// ================================================ ADDED TO HOMSESCREEN CSS ================================================  
@media all and (display-mode: standalone) {
// Here goes the CSS rules that will only apply if app is running standalone 
//ios standalone mode add 20px to top for bar.
//back button?

}
