@import 'materialize/components/color';
@import 'materialize/components/variables';


.map_canvas {
  position: relative;
}

[id='googleMap'] {
  @media #{$large-and-up} {
   // left: 50%;
  }
  @media #{$small-and-down} {
   // bottom: 50%;
  }
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

