@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

.slide_badge_fav, .slide_badge_near {
  position: fixed;
  z-index: 3;
  background-color: $rgba-primary-grey-2;
  padding: 4px 4px 2px 20px;
  border-radius: 0 3px 3px 0;
}

.slide_badge_fav {
  top: 130px;
}

.slide_badge_near {
  top: 180px;
}

[id="mobileNav"]{

  .fav_star {
    position: absolute;
    right: .5rem;
    bottom: 3rem;
    height: 1rem;
    z-index: 5;
  }

  .side-nav{
    background-color: $rgba-primary-grey-4;
    
    .collection {
      border-color: $rgba-primary-grey-3;

      .collection-item {
        background-color: $rgba-primary-grey-3;
        padding-right: 3px;
        margin: 3px 0 0 0;

        .title {
          color: $rgba-primary-3;
          font-size: 1.4rem;
        }

        .phone {
          color: $rgba-secondary-2-0;
          line-height: 1.4rem;
          height: auto;

          i {
            color: $rgba-secondary-2-0;
            line-height: 1.3rem;
            font-size: 1rem;
            width: 1ch;
            margin: 0 .1rem;
          }
        }
      }
    }
    .collection-header {
      text-align: center;
      font-size: 2rem;
      
      i {
        position: relative;
        margin: 0 1rem;
        top: 3px;
      }
      // color: $rgba-primary-grey-4;
    }

    li {
       a {
        padding: 0;
        height: auto;
      }

      p {
        color: white;
      }
    }


  }
}