@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

.slide_badge_fav, .slide_badge_near {
  position: fixed;
  z-index: 3;
  background-color: $rgba-primary-grey-1;
  padding: 4px 4px 4px 20px;
}

.slide_badge_fav {
  top: 130px;
}

.slide_badge_near {
  top: 60%;
}

[id="slide-out-fav"] {
  .collection-header {
    text-align: left;
  }
  li {
    margin: 3px 0;
   a {
    line-height: 1.3rem;


      i {
        line-height: 1.3rem;
      }
    }
  }
}