@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

[id='modalBeta'] {
  background-color: $rgba-primary-grey-4;
  max-width: 80%;

  h4 {
    color: $clr-gold;
    text-decoration: none;
  }

  p {
    line-height: 2rem;
    text-align: justify;
    padding: .5rem;
  }
}
