@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

[id='modalGeo'] {
  background-color: $rgba-primary-1;
  color: $rgba-primary-grey-3;
  max-width: 80%;

  p {
    line-height: 2rem;
    text-align: left;
  }
}
