@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "palettes/colors";
@import "palettes/_plt_orng-tetrad";

[id="mainNav"].navbar-fixed {
  nav {
    background-color: $rgba-primary-grey-5;
  }

  a.brand-logo {
    max-height: $navbar-height;
    cursor: alias;
  }

  i {
    margin: 0 0;
    padding: 0 0;
    vertical-align: middle;
  }

  .link-share {
    background-color: $rgba-primary-0;
    width: 100%;

    &:hover {
      background-color: $rgba-primary-2;
    }

    img {
      height: 1.3em;
      display: block;
      margin: 0 auto;
    }
  }

  .nav-list {
    width: 70%;

    i {
      line-height: inherit;
    }

    .more_icon {
      padding: 0 7px;
      margin: auto;
      height: $navbar-height;

      img {
        border: 1px dashed $rgba-primary-grey-2;
        border-radius: 50%;
        max-height: $navbar-height;
      }
    }

    form input {
      margin: 0 .5rem !important;
      vertical-align: middle !important;
      width: auto;
    }

    li a {
      color: $rgba-primary-0;
      text-align: center;
    }

    .no_pad {
      padding: 0 .3rem;
    }

    .more_btn {
      padding: 0;
    }

    .select_wrapper .dropdown-content {
      min-width: 10rem;
    }
  }

  [id='desktop_search-form'] {
    form input {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      margin: .3rem .5rem;
      vertical-align: middle !important;
      line-height: inherit;
    }

    i.prefix {
      left: -1.1rem;
      font-size: 1.5rem;
      color: $rgba-primary-grey-2;
    }
  }
}

@media #{$medium-and-up} {

  .nav-list {
    float: right;
  }
}

@media #{$medium-and-down} {

  .navbar-fixed {
    $mobile-height: $navbar-height - 15px;

    img {
      height: $mobile-height;
      margin: $mobile-height / 10;
    }

    .nav-list {
      a {
        // padding: 0 7px;
     
      }
    }
  }
}

@media #{$small-and-down} {
  $mobile-height: $navbar-height - 14px;

  [id="mainNav"].navbar-fixed {
    // position: absolute;
    // bottom: 0;
    // height: $mobile-height;

    a.brand-logo {
      position: fixed;
      bottom: 0;
      height: $mobile-height;
    }

    img {
      height: $mobile-height;
      margin: 0;
    }

    .nav-list {
      width: 100%;

      // padding-left: 1.3rem;

      a {
        // padding: 0 7px;
        // height: $mobile-height;
     
      }
    }
  }
}