@import 'palettes/colors';

nav {

  .brand-logo {
    margin: 0 0.4rem;
  }
  .btn {
    i {
      position: relative;
      top: -0.45em;
    }
  }
  ::-webkit-input-placeholder {
    color: $clr-grey;
    text-transform: capitalize;
    transition: opacity 250ms ease-in-out;
  }

  :focus::-webkit-input-placeholder {
    opacity: 0.3;
  }

  :-ms-input-placeholder {
    color: $clr-grey;
    text-transform: capitalize;
    transition: opacity 250ms ease-in-out;
  }

  :focus:-ms-input-placeholder {
    opacity: 0.3;
  }

  ::-moz-placeholder {
    color: $clr-grey;
    opacity: .5;
    text-transform: capitalize;
    transition: opacity 250ms ease-in-out;
  }

  :focus::-moz-placeholder {
    opacity: 0.3;
  }

  :-moz-placeholder {
    color: $clr-grey;
    opacity: .5;
    text-transform: capitalize;
    transition: opacity 250ms ease-in-out;
  }

  :focus:-moz-placeholder {
    opacity: 0.3;
  }

  .nav-input {
    background-color: $clr-orange;
    border-radius: .5em;
    height: 2.5em;
    margin: 0.95em;
    text-transform: uppercase;

    i {
      position: absolute;
      left: 0.8em;
      top: -0.4em;
    }

    input {
      position: relative;
      top: -0.66em;
      left: 0em;
      }
  }

  .side-nav {

    input {
      position: relative;
      top: 0;
    }

    .btn {
      color: $clr-grey;

      i {
        position: relative;
        top: 0;
      }
    }
  }
}

.navbar-fixed {
  ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    height: 100%; 
  }

  li {
    flex: 1;
    border-radius: 3px;

    a {
      margin: auto;
      text-decoration: none;
      color: $clr-orange;

    }
  }

  i {
    font-size: 3rem;

  }
  .row {
    margin: 0 auto;
  }

  .input-field {
    margin: 0 auto;
  }

  form {
    flex: 1;
  }
}
