@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';


  // ::-webkit-input-placeholder {
  //   color: $clr-orange;
  //   text-transform: capitalize;
  //   transition: opacity 250ms ease-in-out;
  // }

  // :focus::-webkit-input-placeholder {
  //   opacity: 0.3;
  // }

  // :-ms-input-placeholder {
  //   color: $clr-orange;
  //   text-transform: capitalize;
  //   transition: opacity 250ms ease-in-out;
  // }

  // :focus:-ms-input-placeholder {
  //   opacity: 0.3;
  // }

  // ::-moz-placeholder {
  //   color: $clr-orange;
  //   opacity: .5;
  //   text-transform: capitalize;
  //   transition: opacity 250ms ease-in-out;
  // }

  // :focus::-moz-placeholder {
  //   opacity: 0.3;
  // }

  // :-moz-placeholder {
  //   color: $clr-orange;
  //   opacity: .5;
  //   text-transform: capitalize;
  //   transition: opacity 250ms ease-in-out;
  // }

  // :focus:-moz-placeholder {
  //   opacity: 0.3;
  // }


.nav-list {
  > li {
    display: inline-block;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height;

  img {
    margin: .4rem;
    max-height: $navbar-height;
  }

  .btn {
    padding: .5rem;

    i {
      line-height: 1rem;
      font-size: 1.5rem;
    }
  }
}

[id='desktop-search_wrapper'] {
  .input-field {
    margin: 1rem auto;
  }
  
  i, 
  form {
    display: inline-block;
    float: left;
  }

  i {
    margin: 1.7rem 0;  
  }

  form {
    min-width: 90%;
  }

  input {
    margin-bottom: .2rem;
  }
}

[id='mobile-search_wrapper'] {

  .input-field {
    margin:0;
  }
  
  i, 
  form {
    display: inline-block;
    float: left;
  }
  
  form {
    min-width: 90%;
  }

  input {
    margin-bottom: .3rem;
    height: 1.5rem;
  }
}