@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "palettes/colors";
@import "palettes/_plt_orng-tetrad";

.badge-share {
  margin: 3px;
  padding: 3px;

  .dropdown-content {
    background-color: $rgba-primary-grey-4;

    li > a {
      color: $rgba-primary-3;
    }
  }

  .dropdown-button {
    color: $rgba-primary-3;
  }

  .dropdown-button.active {
    display: block;
    color: $rgba-primary-grey-4;
    background-color: $rgba-primary-0;
  }

  i {
    cursor: pointer;
    font-size: 1.5rem;
  }

  li {
    min-height: 20px;
  }

  .link-share {
    fill: $rgba-primary-0;
    padding: 3px 10px;
    background-color: $rgba-primary-0;

    &:hover {
      background-color: $rgba-primary-2;
    }

    img {
      height: 1.5em;
      display: block;
      margin: 0 auto;
    }
  }
}