@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';

.showCategories-wrapper {
  margin-top: 60px;
  background-color: $clr-grey;
  padding: 0.5rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}