@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';

.showCategories-wrapper {
  background-color: $rgba-primary-grey-4;
  padding: 1rem;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-flex-wrap: wrap;
  // flex-wrap: wrap;
  // flex-flow: row wrap;
}
.categoryFlex {
  margin: auto;

  .categoryFlex_item {
    background-color: $rgba-primary-grey-3;
    float: left;
    width: 278px;
    margin: 1rem;

    .fav_star {
      z-index: 3;
    }
    .card-image {
      max-height: 20rem;
      overflow-y: hidden;
    }

    .card-content {
      padding: 1rem;
      line-height: 1.3rem;

      p {
        margin: 1rem 0;
      }
    }
    .card-action {
      a {
        background-color: $rgba-primary-4;
      }
      padding: .5em 0 0;
    }
  }
}

//MOBILE 
@media #{$medium-and-down} {
  .showCategories-wrapper {
    margin-top: 35px;
  }

  h2, .row {
    margin: 0;
  }
}
