@import '{}/node_modules/materialize-css/sass/components/mixins';
@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';
@import 'palettes/_plt_orng-tetrad';


[id="sideCard"]{
  .side-nav {
    background-color: $rgba-primary-grey-4;

    img {
      width: 100%;
      transition: opacity 550ms ease-in-out;

    }

    li {
    line-height: 1.3rem;

      a {
        color: $rgba-primary-grey-1;  
        i {
          color: lighten($rgba-primary-1, 10%);
        }
      }

      p {
        line-height: 1.3rem;
        color: inherit;
      }

    }

    .btn-floating i {
      position: relative;
      left: -1.2rem;
    }
    .card-image .card-title {
      width: 100%;
      background-color: darken($rgba-primary-grey-0, 80%);
      line-height: 2rem;
      padding: .3rem;
    }
  }

  .photos_wrapper {
    height: 240px;
  }
}

