@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "palettes/colors";
@import "palettes/_plt_orng-tetrad";

.side-nav.sideCard {
  background-color: $rgba-primary-grey-4;
  height: 100%;

  img {
    width: 100%;
    transition: opacity 550ms ease-in-out;
  }

  li {
    line-height: 1.3rem;

    a {
      color: $rgba-primary-grey-1;
      padding: 0;

      i {
        color: lighten($rgba-primary-1, 10%);
        margin: 0 .7rem 0 0;
      }
    }

    p {
      padding: 0 .3rem;
      line-height: 1.5rem;
      color: inherit;
    }

    .card-content {
      padding: 0;

      td {
        padding: .5rem .3rem;
      }
    }

    .inline-list {
      text-align: center;

      li {
        background-color: $rgba-primary-grey-3;
        margin-top: .8rem;
        display: inline-block;
        border-radius: 3px;
        width: 49%;

        &:hover {
          background-color: lighten($rgba-primary-grey-3, 10%);
        }
      }

      a {
        color: $rgba-primary-3;
      }

      i {
        color: $rgba-primary-3;
      }
    }

    .section-title {
      padding: .5rem 0 0 0;
      line-height: 2rem;
      font-size: 1.5rem;

      i {
        float: left;
        margin: 0 .7rem 0 0;
        font-size: 2rem;
        line-height: inherit;
      }
    }
  }

  // .btn-floating i {
  //   position: relative;
  //   left: -1.2rem;
  // }

  .list_hours {
    padding: 0 1rem;
  }

  .halfway-fab {
    // position: absolute;
    // right: -1.5rem;
    // z-index: 3;
    background-color: $rgba-secondary-2-0 !important;

    i {
      font-size: 2rem;
      color: $rgba-primary-grey-4;
    }
  }

  .place_photo {
    background-size: 300px;
    background-repeat: no-repeat;
  }

  .card-image .card-title {
    position: relative;
    display: block;
    width: 100%;
    background-color: darken($rgba-primary-grey-0, 80%);
    line-height: 2rem;
    padding: .3rem;

    em {
      color: $rgba-secondary-2-2;
      font-size: .9rem;
      line-height: .9rem;
    }
  }

  .item_reviews {
    .collection .collection-item {
      background-color: lighten($rgba-primary-grey-4, 10%);
      padding: .3rem 0;
    }

    .badge {
      float: right;
      color: $rgba-primary-2;
      background-color: $rgba-complement-0;
    }

    .row {
      background-color: lighten($rgba-primary-grey-4, 20%);
    }
  }

  .photos_wrapper {
    min-height: 240px;
  }
}