@import '{}/node_modules/materialize-css/sass/components/color';
@import '{}/node_modules/materialize-css/sass/components/variables';
@import 'palettes/colors';


.terms-wrapper {
  font-family: 'Raleway', sans-serif;
  margin-top: $navbar-height;

  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  hr {
    height: 1px;
    width: 33%;
    page-break-before: always;
  }

  .collapsible-header {
    background-color: rgba(0,0,0,.3);
  }
  li {
    margin: 0 !important;
  }

  .bold {
    font-weight: 700;
  }

  .anchor {
    text-decoration: none;

    color: inherit;
  }
}
