  // @import url('https://fonts.googleapis.com/css?family=Raleway');

  .test-wrapper {

    margin: 0;
    padding: 0;
    
    .col {
      padding: 0;
    }

    .masonflex_item {
      float: left;
      width: 80px;
      height: 60px;
      border: 2px solid green;
    }
    
    .content_wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      background: #6a3340;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
    .card-content {
      padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Palatino Linotype', Palatino, serif;
    }

    p {
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
    }
  }

  [id='miniMap'] {
    position: absolute;
    right: 0;
    left: 0;
    top: 65px;
    bottom: 50%;

  }

