@import 'materialize/components/mixins';
@import 'materialize/components/color';
@import 'materialize/components/variables';
@import 'palettes/colors';

.pac-container {
  background-color: $clr-grey;

  ::after {
    // display: none;
  }
}

.pac-item-query {
  color: $clr-orange;
}

.pac-item-selected {
  background-color: #ffe;
}

.pac-matched {
  color: $clr-green;
}

.pac-icon-marker {
  color: $clr-orange;
}

.twitter-typeahead {
  display: block !important;
}

.tt-menu {
  background-color: $clr-grey-light;
  color: $clr-orange-dark;
  padding: .5rem;
  @include box-shadow-2(0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}



.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: auto 1rem;
  font-size: 18px;
  line-height: 24px;
  
  :hover {
    cursor: pointer;
    background-color: $clr-purple;
    padding: .3 rem;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0 auto;

    li {
      padding: 0.5rem;
    }
  }

  .tt-cursor {

  }
}
