@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "palettes/colors";
@import "palettes/_plt_orng-tetrad";

li.verifyItem {
  position: static;
  top: 0;
}

.voteButton {
  position: relative;
  top: -0.8rem;
  font-size: 14px;

  .upVote, .downVote {
    display: block;
    height: 1rem;
  }

  i {
    line-height: 1rem;
    color: $rgba-primary-grey-1;
  }
}

.remove_favorite {
  color: $clr-red !important;
}

.add_favorite {
  color: $rgba-primary-3 !important;
}

.verified {
  color: green !important;
}

.deverified {
  color: red !important;
}