<template name="addForm_qf">
	<div id="modalAdd" class="modal modal-fixed-footer">
    <div class="modal-content">
			<h4> Add Your Business </h4>
			{{> quickForm collection="Listings" doc=this id="addListingForm" type="insert" omitFields="address2, country, location, upVoteCount, dnVoteCount, upVotes, dnVotes"}}
		</div>

	    {{!-- <div class="modal-footer">
			<button class="btn modal-action modal-close waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">add_circle</i>
			</button>
		</div> --}}
	</div>
</template>


<template name="addForm_af">
  <!-- Modal Structure -->
  <div id="modalAdd" class="modal modal-fixed-footer">
			{{#autoForm id="addListingForm2" type="normal" collection="Listings" doc=this}}
		    <div class="modal-content">
					<h4> Add Your Business </h4>
			  {{> afQuickField name="name"}}
			  {{> afQuickField name="street"}}
			  {{> afQuickField name="address2"}}
			  {{> afQuickField name="city"}}
			  {{> afFormGroup name="state" type="select" options=allowedValues}}
			  {{!-- {{> afQuickField name="state"}} --}}
			  {{> afQuickField name="zip"}}
			  {{> afQuickField name="owner"}}
				</div>		    
		    <div class="modal-footer">
					<button class="btn modal-action waves-effect waves-light" type="submit" name="action">Submit
						<i class="material-icons right">add_circle</i>
					</button>
				</div>

			{{/autoForm}}
	</div>
</template>

<template name="addForm_">
	<form class="col s12 m8 l8">
		<input id="Name" type="text" name="Name" />
		<label for="Name">Name</label>

		<input id="Street" type="text" name="Street" />
		<label for="Street">Street</label>

		<input id="Street2" type="text" name="Address 2" />
		<label for="Street2">Address 2</label>

		<input id="City" type="text" name="City" />
		<label for="City">City</label>

		<input id="Zip" type="text" name="Zipcode" />
		<label for="Zip">Zipcode</label>

		<input id="State" type="text" name="State" />
		<label for="State">State</label>

		<input id="Phone" type="text" name="Phone" />
		<label for="Phone">Phone:</label>

		<input id="Owner" type="text" name="Owner Name" />
		<label for="Owner">Owner Name</label>

	</form>
</template>