<template name="betaModal">
  <div id="modalBeta" class="modal">
    <div class="modal-content center-align">
      <h4> A Work In Progress... </h4>
      <p class="flow-text">Please bear with Us&mdash;as We work towards building a great tool to discover, promote, and support businesses owned by members of Our community. </p>
    </div>
    <div>
      <hr />
      <p class="right">
        Have some ideas? <a href="/kibu">Contribute to this project.</a>
      </p>
    </div>
  </div>
</template>