<template name="closestList">
  <div class="list-wrapper row hide-on-med-and-up">
    <ul class="collection with-header col s12">
    <li class="collection-header hoverable center-align">
      <h4>Closest Businesses</h4>
    </li>
    {{#each list}}

      <li class="collection-item avatar hoverable ">
      {{#if hasImage}}
        <img src="/img/gallery/{{name}}.png" alt="" class="circle">
      {{/if}}
        <h4 class="truncate">{{name}}</h4>
        <h6 > {{social}}</h6>
        {{#if street}}
        <p class="address">
              {{street}} <br />
              {{city}} {{state}} {{zip}} <br />
        </p>
        {{/if}}
        <a class="address-phone" href="tel:+1{{phone}}">{{phone}}</a>
        {{> favoriteStar}}
        
      </li>
    {{/each}}
    </ul>
  </div>
</template>