<!-- NOT USED -->
<template name="fullCard">
  <div id="fullCard" class="row">
    <div class="col s10 push-s1 m6 push-m3 l6 push-l3">
      <div class="card large">
      {{> favoriteStar}}
      
        {{#if hasImage}}
        <div class="card-image waves-effect waves-block waves-dark"> 
          <!--img class="responsive-image" src="/img/gallery/{{name}}.png" /-->
          <img src="{{image.url}}" />
        </div>
        {{/if}}

        <div class="card-content">
            <span class="card-title activator "> <h5 class="center-align activator">{{name}}</h5></span>
            <h6 class="center-align"><a href="#" target="_blank" rel="noopener" > {{social}}</a></h6>
            <p class="center-align address">
              <span id="address-content">
                {{street}} <br />
                {{city}} {{state}} {{zip}} <br />
              </span>
              <a class="center-align phone" href="tel:+1{{phone}}">{{phone}}</a>
            </p>
        </div>
        {{#if location}}
        <div class="card-map" id="microMap">
          {{> googleMap name="microMap" options=microMapOptions }}
        </div>
        {{/if}}
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tab1" class="active">Actions</a></li>
            {{#if google_id }}
              <li class="tab"><a href="#tab2">Reviews</a></li>
            {{/if}}
            <li class="tab"><a href="#tab3">Discussion</a></li>
          </ul>
        </div>

        <div class="card-content" style="overflow-y:scroll">
          <div id="tab1">
          {{#if url}}     
            <div class="col s3"><a class="btn-floating" target="_blank" rel="noopener" title="Website" href="{{url}}"><i class="material-icons">link</i></a></div>
            {{/if}}
            {{#if phone}}    
            <div class="col s3"><a class="btn-floating" title="Call" href="tel:+1{{phone}}"><i class="material-icons">phone</i></a></div>
            {{/if}}
            {{#if isOwner}}
            <div class="col s3">
              <a class="btn-floating editModal-trigger" id="edit_button" title="Edit This Listing" href="#modalEdit"><i class="material-icons">edit</i></a>
            </div>
            {{else if currentUser}}
            <div class="col s3">
              <a class="btn-floating modal-trigger" id="verify_button" title="Is This Information Correct?" href="#modalVerify"><i class="material-icons">thumb_up</i></a>
            </div>
            {{else}}
            <div class="col s3">
              <a class="disabled btn-floating modal-trigger" id="verify_button" title="Verify This" href="#modalVerify"><i class="material-icons">thumb_up</i></a>
            </div>
            {{/if}}
            {{#if street}}    
            <div class="col s3">
              <!-- a class="btn-floating modal-trigger" id="directions_button" title="Directions" href="#modalDirections"><i class="material-icons">navigation</i></a-->
              <a class="btn-floating " title="Directions" href="https://www.google.com/maps/dir/Current+Location/{{location}}" target="_blank" rel="noopener" ><i class="material-icons">directions</i></a>
            </div>
            {{/if}}
          </div>


          {{#if google_id }}
            {{#let place=thisPlace}}
              <div id="tab2">
                {{#if place.reviews}}
                  <ul class="collection">
                  {{#each review in place.reviews}}
                  <li class="collection-item avatar">
                    <a href="{{review.author_url}}" ><img src="{{review.profile_photo_url}}" alt="" class="circle" /></a>
                    <span class="title">{{review.author_name}}</span>
                      <p class="">
                      {{review.relative_time_description}} <br />
                      {{review.text}}
                      </p>
                      <a href="#" class="secondary-content">RATING: {{review.rating}}/5</a>
                  </li>
                  {{/each}}
                  </ul>
                {{else}}
                  <p><a href="https://search.google.com/local/writereview?placeid={{google_id}}" target="_blank" rel="noopener" >Write Your Review.</a></p>
                {{/if}}
              </div>

            {{/let}}
          {{/if}}

          <div id="tab3">
            <div class="comment-section">
              {{> commentsBox id=_id}}
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</template>