
<template name="fullPage">
  <div id="fullPage" class="container" >
  <div class="row">

    <div class="col l7 m6 s12">
      <div class="card">
        <div class="select_wrapper right">
        {{#if currentUser}}
          <a class="dropdown-button more_icon" alt="..." data-activates="card-dropdown" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-stoppropagation="true" > 
             <i class="material-icons" title="...">more_vert</i>
          </a>
          <ul id="card-dropdown" class="dropdown-content">
            <li><a href="/register"><i class="material-icons">fingerprint</i>Claim Business</a></li>
            {{#if isOwner}}
              <li><a class="modal-trigger" title="Edit This Listing" href="#modalEdit"><i class="material-icons">edit</i>Modify Business</a></li>
            {{/if}}
{{!--               <li>
              <a class="modal-trigger" id="verify_button" title="Verify This" href="#modalVerify">
                <i class="material-icons">done_all</i>
                Verify Business  
              </a>
              </li> --}}
          </ul> 
        {{/if}}
        </div>

        <h4 class="center-align">{{name}}</h4>

        <div class="card-image">
        {{#if image.url}}
          <img src="{{image.url}}" />
        {{else}}
          {{#if url}}
            <img src="{{getImage url _id}}"/>
            {{/if}}
        {{/if}}
        </div>
        <div class="card-content">
          <p class="flow-text">
            {{description}}
          </p>
        </div>
        <div class="card-action">
        {{#if url}}     
          <a class="btn-floating" target="_blank" rel="noopener" title="Website" href="{{url}}"><i class="material-icons">link</i></a>
          {{/if}}
          {{#if phone}}    
          <a class="btn-floating" title="Call" href="tel:+1{{phone}}"><i class="material-icons">phone</i></a>
          {{/if}}
          {{#if location}}    
          
            <!-- a class="btn-floating modal-trigger" id="directions_button" title="Directions" href="#modalDirections"><i class="material-icons">navigation</i></a-->
            <a class="btn-floating " title="Directions" href="https://www.google.com/maps/dir/Current+Location/{{location}}" target="_blank" rel="noopener" ><i class="material-icons">directions</i></a>

        {{/if}}
        </div>

      </div>  
    </div>

    <div class="col l5 m6 s12">
      <div class="card-panel">
      {{> favoriteStar}}
      {{> shareListing}}
        <h5 class="center-align"> DETAILS </h5>
        <hr />        
        <span class="card-title "><i class="material-icons">location_on</i>Address</span>
        <p class="">
          {{#if address}}    
            <span>
            {{address}}<br />
            </span>
          {{else}}
            <span>
            {{street}} <br />
            {{city}} {{state}},  {{zip}} <br />
            </span>
          {{/if}}

          {{#if phone}}    
          <a class="center-align phone" href="tel:+1{{phone}}"><i class="material-icons" style="font-size:100%; margin-right:2px; ">phone</i>{{phone}}</a> <br />
          {{/if}}
          
          {{#if social.facebook}}
          fb: <a href="https://www.facebook.com/{{social.facebook}}" target="_blank" rel="noopener" > @{{social.facebook}}</a> <br />
          {{/if}}
          {{#if social.instagram}}
          ig: <a href="https://www.instagram.com/{{social.instagram}}" target="_blank" rel="noopener" > @{{social.instagram}}</a> <br />
          {{/if}}
          {{#if social.twitter}}
          tt: <a href="https://www.twitter.com/{{social.twitter}}" target="_blank" rel="noopener" > @{{social.twitter}}</a> <br />
          {{/if}}
          
        </p>
        <hr />
        {{#if location}}
          <span class="card-title "><i class="material-icons">map</i>Location :</span>
          <a class="" href="https://www.google.com/maps/dir/Current+Location/{{location}}" target="_blank" rel="noopener">
            <span class="badge badge-distance" data-badge-caption="mi."><i class="material-icons tiny ">directions</i> {{getDistance location}} </span>
          </a>
          <div class="card-map" id="microMap">
            {{> googleMap name="microMap" options=microMapOptions }}
          </div>
        <hr />
        {{/if}}
        {{#if google_id}}
          {{#let place=thisPlace}}
            {{#if place.opening_hours}}
            <span class="card-title "><i class="material-icons">watch_later</i>Hours: </span>
              {{#if isOpen place}}
              <span class="now_open">Open Now!</span>
              {{else}}
              <span class="now_closed muted">Closed Now</span>
              {{/if}}
            <ul class="list_hours">
              {{#each place.opening_hours.weekday_text}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
            {{/if}}
            <hr />
            <span class="card-title "><i class="material-icons">star</i>Reviews</span>
            {{#if place.rating}} 
              <h3>{{place.rating}}/5</h3>
            {{/if}}
            {{#if place.reviews}}
              <ul class="collection">
              {{#each review in place.reviews}}
              <li class="collection-item">
                <div class="row">
                  <div class="col s4 valign-wrapper">
                    <div class="">
                      <a href="{{review.author_url}}" class="" ><img src="{{review.profile_photo_url}}" alt="{{review.author_name}}" class="circle" /></a>
                    </div>
                  </div>
                  <div class="col s8">
                    <a href="{{review.author_url}}"><h6>{{review.author_name}}</h6></a>
                    <span class="">{{review.relative_time_description}} <span class="badge" data-badge-caption="/5">{{review.rating}}</span></span>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <p class="truncate">{{review.text}}</p>
                    </div>
                  </div>
                </div>
                <!-- div class="row">
                  <p class="s12">
                  {{review.text}}
                  </p>
                </div -->
              </li>
              {{/each}}
              </ul>
            {{else}}
              <p><a href="https://search.google.com/local/writereview?placeid={{google_id}}" target="_blank" rel="noopener" >Leave a Review.</a></p>
            {{/if}}
            <hr />
            {{#if place.photos}}  
            <span class="card-title "><i class="material-icons">star</i>Photos</span>
            {{#each photo in place.photos}}
              <img src="{{getUrl photo.photo_reference}}">
            {{/each}}
            <hr />
            {{/if}}
          {{/let}}

        {{/if}}

        <span class="card-title "><i class="material-icons">comment</i>Comments</span>
        {{#if currentUser}}
          <div class="comment-section">
            {{> commentsBox id=_id}}
          </div>
        {{else}}
          <div class="comment-section">
            <p> <a href="/login">Sign In</a> to Join the Discussion</p>
          </div>
        {{/if}}
      </div>
    </div>
    </div>
  </div>
</template>
