

<template name="galleryCard">


    <div id="{{_id}}" class="info-card closestFlex_item card sticky-action hoverable ">
      
      {{> favoriteStar}}
      {{> shareListing}}
      <a class="card_link" href="/listings/{{name}}">
      {{#unless image.url}}
        {{#if url}}
          <div class="card-image "> 
            <img class="responsive-image" src="{{getImage url _id}}" />
          </div>
        {{/if}}
      {{else}}
        <div class="card-image ">       
          <img class="responsive-image" src="{{image.url}}" />
        </div>
      {{/unless}}
      </a>
      <a class="card_link" href="/listings/{{name}}">
        <div class="card-content">

            <span class="card-title "> <h5 class="center-align activator">{{name}}</h5></span>
            <p class="center-align">
              {{#if social.facebook}}
                <span> fb: <a href="https://www.facebook.com/{{social.facebook}}" target="_blank" rel="noopener" > @{{social.facebook}}</a> </span> <br />
              {{/if}}
              {{#if social.instagram}}
                <span> ig: <a href="https://www.instagram.com/{{social.instagram}}" target="_blank" rel="noopener" > @{{social.instagram}}</a> </span> <br />
              {{/if}}
              {{#if social.twitter}}
                <span> tt: <a href="https://www.twitter.com/{{social.twitter}}" target="_blank" rel="noopener" > @{{social.twitter}}</a> </span> <br />
              {{/if}}
            </p>
            <p class="center-align address">
            {{#if address}}
              <span>
                {{address}}
              </span><br />
            {{else}}
              <span id="address-content">
                {{street}} <br />
                {{city}} {{state}} {{zip}} <br />
              </span>
            {{/if}}
            {{#if phone}}
              <a class="center-align address-phone" href="tel:+1{{phone}}">
                <i class="material-icons tiny">phone</i>
                {{phone}}
              </a>
            {{/if}}
            </p>

            <!--p>{{description}}</p-->
        </div>
      </a>
      {{#if location}}
      <a class="" href="https://www.google.com/maps/dir/Current+Location/{{location}}" target="_blank" rel="noopener">
        <span class="badge hoverable" data-badge-caption="mi."><i class="material-icons tiny ">directions</i> {{getDistance location}} </span>
      </a>
      {{/if}}
    </div>  
</template>
