<template name="geoModal">
  <div id="modalGeo" class="modal">
    <div class="modal-content center-align">
      <p class="flow-text">
        May we use your location to provide the most accurate results?
        <br /><br />
        <span class="smalltext">(if not, it's OK--we'll try as best we can without it...)</span>
      </p>  
      <p class="flow-text">
        <button href="#" alt="Yes" class="btn waves-effect waves-dark geo-accept">Yes</button>
        <button href="#" alt="No" class="btn waves-effect waves-dark geo-deny">No</button>
      </p>
    </div>
  </div>
</template>


