<template name="geoModal">
  <div id="modalGeo" class="modal">
    <div class="modal-content center-align">
      <p class="flow-text">
        May we use your location to show you the closest businesses?
        <br /><br />
        <span class="smalltext">(if not, it's OK&mdash;we'll try our best without it...)</span>
      </p>  
      <p class="flow-text">
        <button href="#" alt="Yes" aria-label="Yes" class="btn waves-effect waves-dark geo-accept">Yes</button>
        <button href="#" alt="No" aria-label="No" class="btn waves-effect waves-dark geo-deny">No</button>
      </p>
    </div>
  </div>
</template>


