<template name="infowindow">
    <div id="infowindow" class="card small">
      
{{!--       {{#if img}}
        <div class="card-image">
        	<img src="{{img}}">
        </div>
      	{{else}}
        <div class="card-image">
          <img class="responsive-img" src="img/globe_silver.png">
        </div>
    	{{/if}} --}}

      {{!-- <div class="card-stacked"> --}}
        <div class="card-content">
          <h5 class="center-align">{{name}}</h5>
          <p class="info">
            {{this.street}} <br>
  			    {{city}} {{state}} {{zip}} <br>
  			    <a class="phone" href="tel:+1{{phone}}">{{phone}}</a>
          </p>
        </div>

        <div class="card-action hoverable">
          <div class="row">
            {{#if url}}    
            <div class="col s3"><a class="btn-floating amber-lighten-2" target="_blank" title="Website" href="{{url}}"><i class="material-icons">link</i></a></div>
            {{/if}}
            {{#if phone}}    
            <div class="col s3"><a class="btn-floating amber" target="_blank" title="Call" href="tel:+1{{phone}}"><i class="material-icons">phone</i></a></div>
            {{/if}}
            <div class="col s3"><a class="btn-floating amber darken-2" id="verify_button" title="Verify"><i class="material-icons">thumb_up</i></a></div>
            <div class="col s3"><a class="btn-floating amber darken-4" target="_blank"  title="Directions"><i class="material-icons">navigation</i></a></div>
          </div>
        </div>
      {{!-- </div> --}}

    </div>
</template>
