<template name="infowindow">
    <div class="card horizontal small">
      <div class="card-image">
      {{#if image}}
      	<img class="responsive-img" src="{{image}}">
    	{{else}}
        <!-- img class="responsive-img" src="http://lorempixel.com/100/190/nature/10" -->
    	{{/if}}
      </div>
      <div class="card-stacked">
        <h5 class="center-align">{{name}}</h5>
        <div class="card-content ">
	        <p class="info">
          {{this.address1}} <br>
			    {{city}} {{state}} {{zip}} <br>
			    <a href="tel:+1{{phone}}">{{phone}}</a>
          </p>
        </div>
        {{#if url}}
        <div class="card-action">
          <a class="btn-floating waves-effect waves-light amber darken-3 right" target="_blank" title="Website" href="{{url}}"><i class="material-icons">link</i></a>
        </div>
        {{/if}}
      </div>
    </div>
</template>

