

<template name="infoModal">

  <!-- Modal Structure -->
  
  <div id="modalInfo" class="row modal bottom-sheet" style="">
    {{#let doc=currentDoc}}
      
      {{! #if image.url}}
        <!-- div class="heroImg" style="background-image: url('{{image.url}}')"></div-->
      {{! /if}}

      <!--div id="infoWrap" class="col s12 m6 offset-m3" style="background-image: url('{{image.url}}'), linear-gradient(rgba(055, 10, 0, 1), rgba(0, 0, 0, .4)) "-->
      <div id="infoWrap" class="col s12 m6 offset-m3" >
      <span class="badge " data-badge-caption="mi"> {{getDistance doc.location}} </span>
      {{> favoriteStar doc}}
      {{> shareListing doc}}
      <a href="/listings/{{doc.name}}">
        <div class="modal-content" >
             <h5 class="center-align">{{doc.name}}</h5>
              
              <p class="center-align address">
                {{#if doc.address}}
                <p>
                  {{doc.address}}
                </p>
                {{else}}
                  <span id="address-content">
                  {{doc.street}} <br />
                  {{doc.city}} {{doc.state}} {{doc.zip}} 
                  <br />
                  </span>
                {{/if}}
                
                {{#if doc.phone}}
                <a class="center-align phone" href="tel:+1{{doc.phone}}">
                  <i class="material-icons tiny">phone</i>
                  {{doc.phone}}
                </a>
                <br />
                {{/if}}
              </p>
        </div>
      </a>
      <div class="modal-footer transparent">
        <div class="row flex-center">
          {{#if doc.url}}    
          <a class="btn-floating " target="_blank" rel="noopener" title="Website" href="{{doc.url}}"><i class="material-icons">link</i></a>
          {{else}}
          <a class="disabled btn-floating" title="Website" href="#"><i class="material-icons">link</i></a>
          {{/if}}
          <!-- a class="btn-floating modal-trigger" id="directions_button" title="Directions" href="#modalDirections"><i class="material-icons">navigation</i></a-->
          <a class="btn-floating" title="Directions" href="https://www.google.com/maps/dir/Current+Location/{{doc.location}}" target="_blank" rel="noopener" ><i class="material-icons">directions</i></a>
        </div>
      </div>
    </div>  
    {{/let}}
  </div>

</template>
