div:has(.gm-style-iw) {
  background-color: red;
}

.gm-style-iw .card {
  /*background: url("img/texture_striped_black.jpg");*/
  color: #FBB03B;
  color: #444;
}

.card p {
	text-align: center;
	font-size: 1.2em;
}

.card.small {
	height: 200px !important;
}
.card h5 {
	margin: 2px 7px;
}

a[href^="tel:"] {
  color: teal;
  text-decoration: none;
}

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}