
<template name="listCard">
<div class="row" style="position:absolute; bottom: 0; left:-7px">
      <div class="col s12">
        {{> favoriteStar}}
        {{> shareListing}}
      </div>
    </div>
  <div class="info_list">
    <a class="card_link" href="/listings/{{name}}">
    {{#if image.url}}
      <img class="circle" src="{{image.url}}" />
    {{else}}
      {{#if url}}
      <img class="circle" src="{{getImage url _id}}" />
      {{/if}}
    {{/if}}
    </a>
    <span class="title">
      <a class="card_link" href="/listings/{{name}}">{{name}}</a>
    </span>

    <p>
      {{#if social.facebook}}
      fb: <a href="https://www.facebook.com/{{social.facebook}}" target="_blank" rel="noopener" > @{{social.facebook}}</a> <br />
      {{/if}}
      {{#if social.instagram}}
      ig: <a href="https://www.instagram.com/{{social.instagram}}" target="_blank" rel="noopener" > @{{social.instagram}}</a> <br />
      {{/if}}
      {{#if social.twitter}}
      tt: <a href="https://www.twitter.com/{{social.twitter}}" target="_blank" rel="noopener" > @{{social.twitter}}</a> <br />
      {{/if}}
    </p>
    {{#if street}}
    <p class="address">
      {{street}} <br />
      {{city}} {{state}} {{zip}} <br />
    </p>
    {{/if}}
    {{#if phone}}    
      <a class="phone" href="tel:+1{{phone}}"><i class="material-icons">phone</i>{{phone}}</a> 
    {{/if}}
  </div>
</template>