<template name="splashModal">
  <div id="modalSplash" class="modal">
    <div class="modal-content">
        <h4> This is a Map of Black Businesses: Completely Curated &amp; Maintained by You!</h4>
        <h5> We have SO many listings, you're GUARANTEED to be near one!</h5>
        <ol>
          <li>Locate yourself and see if your favorite business is listed.</li>
          <li>Add your favorite business!</li>
          <li>You can update every Business you add, until the owner claims it.</li>
          <li>Instant turn-by-turn directions, Provide Reviews, Leave Comments</li>
        </ol>
    </div>
  </div>
</template>


