<template name="navMenu">
  <li>
      <div class="input-field">
          <input  class="" id="search_loc" type="text" size="15" length="15" name="search" />
          <label for="search_loc">Elsewhere...</label>
      </div>
  </li>
  <li>  
    <!-- Modal Trigger -->
    <a id="addModal_button" class="modal-trigger waves-effect waves-light btn" href="#addModal"> Add Your Business </a>
  </li>
  <li>
    <!-- a id="loginModal_button" class="modal-trigger waves-effect waves-light btn" href="#loginModal"> Login </a-->
    {{> atNavButton}}

  </li>
<li><a href="/about/">About</a></li>
<li><a href="/admin/">Admin</a></li>
</template>