<template name="navMenu">
  <li>
    <form>
      <div class="input-field">
          <div class="z-depth-1 nav-input">
            <i class="material-icons grey-text text-darken-2 prefix">search</i>
            <label for="search_loc"></label>
            <input placeholder="Search Your Community"  class="black-text" id="search_loc" type="text"/>
          </div>
      </div>
    </form>
  </li>
  {{#if currentUser}}
    {{> loggedInNav}}
    {{loginButtons}}
  {{else}}
  <li>
    <a class="waves-effect waves-light btn grey-text" href="/register">Add A Business</a>
  </li>
  {{/if}}
  <li>
    <a class="btn waves-effect waves-light amber-text grey darken-2 modal-trigger" href="#modalShare"><i class=" material-icons">share</i></a>
  </li>
</template>

<template name="navMenu_mobile">
  <li>
    <form>
      <div class="input-field">
          <div class=" nav-input z-depth-1">
            <i class="material-icons grey-text text-darken-2 prefix">search</i>
            <label for="search_loc"></label>
            <input placeholder="Search Your Community"  class="black-text" id="search_loc" type="text"/>
          </div>
      </div>
    </form>
  </li>
  {{#if currentUser}}
    {{> loggedInNav}}
    {{loginButtons}}
  {{else}}
  <li>
    <a class="btn waves-effect waves-light amber-text grey darken-2" href="/register">Add A Business</a>
  </li>
  {{/if}}
  <li>
    <a class="left btn grey darken-2 waves-effect waves-light amber-text modal-trigger" href="#modalShare"><i class="left amber-text material-icons">share</i>Share</a>
  </li>
</template>