
<template name="shareDropdown">
	<!-- Dropdown Trigger -->
  <a class="dropdown-button btn amber-text darken-2" href="#" data-activates='shareDrop'><i class="material-icons">share</i>Share</a>

  <!-- Dropdown Structure -->
  <ul id='shareDrop' class='dropdown-content'>
		<li>
			<a class="" href="http://www.facebook.com/sharer/sharer.php?u=https://kibumap.com&amp;title=Find+and+support+a+black+business+near+you." target="_blank" rel="noopener" title="Share on Facebook" >
				Facebook
			</a>
		</li>
		<li>
			<a class="" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://kibumap.com&amp;title=Find+and+support+a+black+business+near+you.&amp;source=kibumap.com" target="_blank" rel="noopener" title="Share on LinkedIn" >
				LinkedIn
			</a>
		</li>
		<li>
			<a class="" href="http://twitter.com/intent/tweet?text=Find+and+support+a+black+business+near+you+with+https://www.kibumap.com" target="_blank" rel="noopener" title="Share on Twitter" >
				Twitter
			</a>
		</li>
  </ul>
</template>