<template name="shareListing">
<div class="badge-share">
  <a class="dropdown-button share-drop" alt="..." data-activates="share-dropdown-{{_id}}" data-beloworigin="true" data-constrainwidth="false" data-alignment="right"  > 
     <i class="material-icons" title="Share This!">share</i>
  </a>
  <ul id="share-dropdown-{{_id}}" class="dropdown-content">
    <li class="flex-center">
        <a class="link-share" href="https://www.facebook.com/sharer/sharer.php?u={{url}}&amp;title={{name}}" target="_blank" rel="noopener" title="Share on Facebook" >
            <img class="" src="/img/fbook-share.png" />
        </a>
        <a class="link-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}&amp;title={{name}}&amp;source=kibumap.com" target="_blank" rel="noopener" title="Share on LinkedIn" >
            <img class="" src="/img/linkedin-share.png" />
        </a>
        <a class="link-share" href="https://twitter.com/intent/tweet?text=Check+out+%22{{name}}%22+at+{{url}}+%23KIBU+%23KIBUMAP" target="_blank" rel="noopener" title="Share on Twitter" >
            <img class="" src="/img/twitter-share.png" />
        </a>
    </li>
  </ul>
</div>
</template>