<template name="shareModal">
	<div id="modalShare" class="modal">
			<div class="modal-content">
				<div class="center-align row">
					<div class="col s4 hoverable">
						<a href="http://www.facebook.com/sharer/sharer.php?u=https://www.kibumap.com&amp;title=Find+and+support+a+black+business+near+you." target="_blank" rel="noopener" title="Share on Facebook" >
							<img class="responsive-img" src="img/fbook-share.png" />
							<h6>Facebook</h6 >
						</a>
					</div>
					<div class="col s4 hoverable">
						<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.kibumap.com&amp;title=Find+and+support+a+black+business+near+you.&amp;source=kibumap.com" target="_blank" rel="noopener" title="Share on LinkedIn" >
							<img class="responsive-img" src="img/linkedin-share.png" />
							<h6 >LinkedIn</h6 >
						</a>
					</div>
					<div class="col s4 hoverable">
						<a href="http://twitter.com/intent/tweet?text=Find+and+support+a+black+business+near+you+with+https://www.kibumap.com" target="_blank" rel="noopener" title="Share on Twitter" >
							<img class="responsive-img" src="img/twitter-share.png" />
							<h6>Twitter</h6 >
						</a>
					</div>
				</div>
			</div>
	</div>
</template>
