
<template name="shareDropdown">
	<!-- Dropdown Trigger -->
  <a class="dropdown-button btn amber-text darken-2" href="#" data-activates='shareDrop'><i class="material-icons">share</i></a>

  <!-- Dropdown Structure -->
  <ul id='shareDrop' class='dropdown-content'>
		<li>
			<a class="" href="http://www.facebook.com/sharer/sharer.php?u=https://mobb.meteorapp.com&amp;title=Come+help+support+black+businesses." target="_blank" title="Share on Facebook" >
				<img class="responsive-img" src="img/fbook-share.png" />
			</a>
		</li>
		<li>
			<a class="" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://mobb.meteorapp.com&amp;title=Come+help+support+black+businesses.&amp;source=mobb.meteorapp.com" target="_blank" title="Share on LinkedIn" >
				<img class="responsive-img" src="img/linkedin-share.png" />
			</a>
		</li>
		<li>
			<a class="" href="http://twitter.com/intent/tweet?text=Come+help+support+black+businesses+at+mobb.meteorapp.com" target="_blank" title="Share on Twitter" >
				<img class=" responsive-img" src="img/twitter-share.png" />
			</a>
		</li>
  </ul>
</template>