
<template name="shareDropdown">
	<!-- Dropdown Trigger -->
  <a class="dropdown-button btn darken-2" href="#" data-activates='shareDrop'><i class="material-icons">share</i>Share</a>

  <!-- Dropdown Structure -->
  <ul id='shareDrop' class='dropdown-content'>
		<li>
			<a class="" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkibumap%2Ecom&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+in+Our+Community%2E" target="_blank" rel="noopener" title="Share on Facebook" >
				Facebook
			</a>
		</li>
		<li>
			<a class="" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2FKIBUmap%2Ecom&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+in+Our+Community%2E&amp;source=www%2Ekibumap%2Ecom" target="_blank" rel="noopener" title="Share on LinkedIn" >
				LinkedIn
			</a>
		</li>
		<li>
			<a class="" href="https://twitter.com/intent/tweet?text=Locate%2C+Promote%2C+%26+Support+a+Business+in+Our+Community%2E+++KIBUmap%2Ecom" target="_blank" rel="noopener" title="Share on Twitter" >
				Twitter
			</a>
		</li>
  </ul>
</template>