<template name="sideCard">

  <a href="#" data-activates="slide-out" class="hide button-collapse"></a>
  <ul id="slide-out" class="side-nav sideCard">
    {{#with currentDoc}}
    <li>
      <div class="card transparent">
        <div class="card-image">
          {{#if image.url}}
            <img src="{{image.url}}" />
          {{else}}
            {{#if url}}
            {{!-- {{> mPreloader}} --}}
              <img src="{{getImage url _id}}"/>
            {{/if}}
          {{/if}}
          <span class="card-title">{{name}} <br />
            {{#if description}}
              <em>{{description}}</em>
            {{/if}}  
          </span>
        </div>
        <div class="card-content">
        <table class="">
          <tr>
          {{#if address}}    
          <td><i class="material-icons" style="font-size:100%; margin-right:2px; ">public</i></td>
          <td>{{address}}</td>
          {{else}}
          <td><i class="material-icons" style="font-size:100%; margin-right:2px; ">public</i></td>
          <td>{{street}}, {{city}}, {{state}}  {{zip}} </td>
          {{/if}}
          </tr>
        {{#if phone}}    
          <tr>
            <td><i class="material-icons" style="font-size:100%; margin-right:2px; ">call</i></td>
            <td><a class="" href="tel:+1{{phone}}">{{phone}}</a> </td>
          </tr>
        {{/if}}
        </table>
        {{#if social.facebook}}
        fb: <a href="https://www.facebook.com/{{social.facebook}}" target="_blank" rel="noopener" > @{{social.facebook}}</a> <br />
        {{/if}}
        {{#if social.instagram}}
        ig: <a href="https://www.instagram.com/{{social.instagram}}" target="_blank" rel="noopener" > @{{social.instagram}}</a> <br />
        {{/if}}
        {{#if social.twitter}}
        tt: <a href="https://www.twitter.com/{{social.twitter}}" target="_blank" rel="noopener" > @{{social.twitter}}</a> <br />
        {{/if}}

        </div>
        <a class="btn-floating halfway-fab btn-large waves-effect waves-light z-depth-4"  title="Directions" href="https://www.google.com/maps/dir/Current+Location/{{location}}" target="_blank" rel="noopener" >
          <i class="large material-icons">directions</i>
        </a>
      </div>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <ul class="inline-list">
        {{#if url}}     
        <li> <a class="waves-effect" target="_blank" rel="noopener" title="Website" href="{{url}}">
        <i class="material-icons">link</i>Visit Website
        </a></li>
        {{/if}}
        {{#if phone}}    
        <li><a class="waves-effect" title="Call" href="tel:+1{{phone}}">
        <i class="material-icons">call</i>Call Now
        </a></li>
        {{/if}}

      </ul>
    </li>
      {{#if google_id}}
        {{#let place=thisPlace}}
          {{#if place.opening_hours}}
          <li><div class="divider"></div></li>
          <li class="item_hours">
            <span class="section-title"><i class="material-icons">watch_later</i>Hours: </span>
            {{#if isOpen place}}
            <span class="now_open">Open Now!</span>
            {{else}}
            <span class="now_closed muted">Closed Now</span>
            {{/if}}
            <ul class="list_hours">
              {{#each place.opening_hours.weekday_text}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
          {{/if}}
          {{#if place.photos}}
          <li><div class="divider"></div></li>  
          <li class="item_photos">
            <span class="section-title"><i class="material-icons">star</i>Photos</span><br />
            <div class="row photos_wrapper slider">
              <ul class="slides">
              {{#each place.photos}}
                {{> sliderPhoto}}
              {{/each}}
              </ul>
            </div>
          </li>
          {{/if}}
          {{#if place.reviews}}
          <li><div class="divider"></div></li>
          <li class="item_reviews">
            <span class="section-title"><i class="material-icons">star</i>Reviews</span><br />
            <ul class="collection">
            {{#each review in place.reviews}}
            <li class="collection-item">
              <div class="row">
                <div class="col s4">
                  <div class="">
                    <a href="{{review.author_url}}" class="" ><img src="{{review.profile_photo_url}}" alt="{{review.author_name}}" class="circle" /></a>
                  </div>
                </div>
                <div class="col s8">
                  <a href="{{review.author_url}}"><h6>{{review.author_name}}</h6>
                  <span class="">{{review.relative_time_description}} </span> </a>
                  <span class="badge right" data-badge-caption="/5">{{review.rating}}</span>
                </div>
              </div>
              <div class="col s12" >
                <p>{{review.text}}</p>
              </div>
            </li>
            {{/each}}
            </ul>
          </li>
          {{else}}
          <li><div class="divider"></div></li>
          <li>
            <span class="section-title"><i class="material-icons">comment</i><a href="https://search.google.com/local/writereview?placeid={{google_id}}" target="_blank" rel="noopener" >Leave a Google Review.</a></span>
          </li>
          {{/if}}
        {{/let}}
      {{/if}}
{{/with}}
  </ul>

</template>

<template name="carouselPhoto">
  <div class="place_photo carousel-item" style="background-image: url({{getImgUrl photo_reference}})">
    <img src="/img/transparent.png" alt=""/>
  </div>
</template>

<template name="carouselPhoto2">
  <a class="place_photo carousel-item" style="">
    <img src="{{getImgUrl photo_reference}}" />
  </a>
</template>

<template name="sliderPhoto">
  <li>
    <img src="{{getImgUrl photo_reference}}" />
  </li>  
</template>