
<template name="verifyForm">
  <div id="modalVerify" class="modal">
    <div class="modal-content">
    <h4>Verification:</h4>
      <p class="flow-text">
      I can verify that this Business is majorily owned by a person who identifies as African or a member of the African Diaspora. <br />
      </p>
      {{> quickForm id="upVoteForm" collection="Listings" type="update-pushArray" doc=this scope="verifiers" schema=Schema.Verifier omitFields="$.id" }}
    </div>
  </div>
</template>

<template name="verifyForm2">
  <div id="modalVerify" class="modal modal-fixed-footer">
  {{#autoForm id="upVoteForm" collection="Listings" type="update-pushArray" doc=this  scope="verifiers" schema=Schema.Verifier omitFields="$.id" }}
    <div class="modal-content">
      <h4> Verification:</h4>
      
      <p class="flow-text">
        I can verify that this Business is majorily owned by a person who identifies as African or a member of the African Diaspora. <br />
        Sincerely, <br />
        {{> afQuickField name="$.name" id="address_group" value=getName}}
      </p>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col s12">
          <button class="right-align btn modal-actionz waves-effect waves-light" type="submit" name="action" aria-label="Verify">Verify
            <i class="material-icons right">verified_user</i>
          </button>
        </div>
      </div>
    </div>
  {{/autoForm}}
  </div>
</template>

<template name="verifyForm3">
  <div id="modalVerify" class="modal modal-fixed-footer">
    <div class="modal-content">
			<h4> Add Comment </h4>
 			<!-- form class="col s12 m8 l8">
				<input id="Comment" type="textarea" name="Comment" />
				<label for="Comment">Comment</label>
			</form --> 

			{{!-- {{> quickForm collection="Listings.upVotes" doc=this id="verifyForm" type="insert"}} --}}
			
			{{> quickForm id="upVoteForm" type="update-pushArray" collection="Listings" doc=this scope="upVotes" schema=VoteSchema}}
			{{!-- {{> quickForm id="dnVoteForm" type="update-pushArray" collection="Listings" doc=this scope="dnVotes"}} --}}
		</div>

    <div class="modal-footer">
			<button class="btn modal-action modal-close waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">add_circle</i>
			</button>
		</div>
  </div>

</template>


