<template name="verifyForm2">
  <div id="modalVerify" class="modal modal-fixed-footer">
    <div class="modal-content">
			<h4> Add Comment </h4>
 			<!-- form class="col s12 m8 l8">
				<input id="Comment" type="textarea" name="Comment" />
				<label for="Comment">Comment</label>
			</form --> 

			{{!-- {{> quickForm collection="Listings.upVotes" doc=this id="verifyForm" type="insert"}} --}}
			
			{{> quickForm id="upVoteForm" type="update-pushArray" collection="Listings" doc=this scope="upVotes" schema=VoteSchema}}
			{{!-- {{> quickForm id="dnVoteForm" type="update-pushArray" collection="Listings" doc=this scope="dnVotes"}} --}}
		</div>

    <div class="modal-footer">
			<button class="btn modal-action modal-close waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">add_circle</i>
			</button>
		</div>
  </div>

</template>

<template name="verifyForm">
  <div id="modalVerify" class="modal">
    <div class="modal-content">
			<h4> Comments... </h4>
			{{> quickForm id="upVoteForm" collection="Listings" type="update-pushArray"  doc=this scope="upVotes"}}
		</div>
  </div>
</template>

