
<template name="verifyUI">
  <a class="voteButton">
      <span class="upVote">
        {{#if in_verified}}
        <i class="material-icons verified">keyboard_arrow_up</i>
        {{else}}
        <i class="material-icons verify">keyboard_arrow_up</i>
        {{/if}}
      </span>
    <span  class="vote-count">{{ verifiedCount}}  Verified</span>
    <span class="downVote">
      {{#if in_deverified}}
      <i class="material-icons deverified">keyboard_arrow_down</i>
      {{else}}
      <i class="material-icons deverify">keyboard_arrow_down</i>
      {{/if}}
    </span>
 </a>
</template>