@import "{}/node_modules/materialize-css/sass/components/color";
@import "{}/node_modules/materialize-css/sass/components/variables";
@import "../palettes/colors";
@import "../palettes/_plt_orng-tetrad";

// ================================================ MIXINS ================================================
@mixin box-shadow-2($args1, $args2) {
  -webkit-box-shadow: $args1, $args2;
  -moz-box-shadow: $args1, $args2;
  box-shadow: $args1, $args2;
}

@mixin border-gradient($clr1, $clr2) {
  border: 1px solid transparent;
  background: inherit;
  background-clip: padding-box;
  border-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to bottom right, $clr1, $clr2);
    z-index: -1;
    border-radius: 3px;
  }
}

// ================================================ CSS RESET ================================================

//================================================ VARIABLES ================================================

// ================================================ ELEMENTS ================================================

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: $rgba-primary-grey-4;
  overflow-y: visible;
}

a {
  cursor: pointer;
}

// ================================================ INPUTS AND FORMS ================================================
::-webkit-input-placeholder {
  color: $color-primary-grey-2;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: $color-primary-grey-2;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0.3;
}

::-moz-placeholder {
  color: $color-primary-grey-2;
  opacity: .5;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0.3;
}

:-moz-placeholder {
  color: $color-primary-grey-2;
  opacity: .5;
  text-transform: capitalize;
  transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0.3;
}

// ================================================ MATERIALIZE OVERWRITES ================================================
.btn {
  background-color: $clr-orange;

  &:hover {
    background-color: darken($clr-orange, 20%);
  }
}

.card_link {
  color: inherit;
  text-decoration: none;
}

.modal-open {
  overflow: visible;
}

.modal {
  @media #{$medium-and-down} {
    width: 90%;
  }
}

.spinner-layer {
  border-color: $clr-orange;
}

//fix for checkbox not checking inside .input-field
.input-field label {
  pointer-events: auto;
}

// ================================================ ALDEED AUTOFORMS OVERWRITES ================================================
.at-form {
  background-color: $rgba-primary-1;
  padding: 2rem;
}

// ================================================ CUSTOM CLASSES ================================================
.mobile_search_input,
.desktop_search_input {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.more_icon {
  cursor: context-menu;
}

.myToast {
  background-color: $clr-gold;
}

.myGoodToast {
  background-color: $color-secondary-2-2;
}

.myBadToast {
  background-color: $clr-warn;
}

.broken-image {
  //visibility:hidden hides image and preserves height.
  //display:none removes element.
  display: none;
}

.select_wrapper {
  a {
    position: relative;
    z-index: 0;
  }

  i {
    position: relative;
    z-index: -1;
    display: inline !important;
  }
}

.card {
  .card-action {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
  }
}

.flex-center {
  display: -webkit-flex;
  -webkit-justify-content: space-around;
  display: flex;
  justify-content: space-around;
}

[id='at-signIn'] {
  display: inline-block;
  background-color: $color-secondary-1-2;
  padding: .3rem 1rem;
  border-radius: 3px;

  @include box-shadow-2(0 5px 5px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15));
}

.pac-container {
  // background-color: $clr-grey;
  //needs to be in front of modal which is at z-index: 1013
  z-index: 1015;

  ::after {
    // display: none;
 
  }
}

.pac-item-query {
  color: $clr-green;
}

.pac-item-selected {
  background-color: #ffe;
}

.pac-matched {
  color: $clr-green;
}

.pac-icon-marker {
  color: $clr-green;
}

// ================================================ ADDED TO HOMSESCREEN CSS ================================================
@media all and (display-mode: standalone) {
  // Here goes the CSS rules that will only apply if app is running standalone 
  //ios standalone mode add 20px to top for bar.
  //back button?
}