<template name="footer">
	<footer class="row">
	  <div class="col s3 hide-on-med-and-up">
      <a class="brand-logo left grey darken-2" href="/">
          <img class="responsive-img " src="/img/kibu-logo_sm.png" alt="KIBU: The Map" />
      </a>
    </div>
		<div class="col s12">
			<div class="footer_terms__wrapper grey darken-2 grey-text text-lighten-4">
				<div class="right">
					<a href="/terms">Terms &amp; Conditions</a> | 
					<a href="/terms#PrivacyPolicy">Privacy Policy</a>
				</div>
			</div>
		</div>
	</footer>
</template>