
<template name="nav">

    <div class="navbar-fixed">
        {{! > cornerRibbon}}
        <nav class="z-depth-2 nav">
            <div class="nav-wrapper">

                <a class="brand-logo left" href="/">
                    <img class="responsive-img" src="/img/kibu-logo_sm.png" alt="KIBU Home Page" />
                </a>

                <ul class="nav-list right">
                    <li class="hide-on-small-only">
                        <form id="desktop_search-form">
                          <div class="input-field">
                            <input id="search_nav" placeholder="Search..." size="15" class="form-control typeahead" name="results" type="text" autocomplete="off" spellcheck="off" data-sources="dataset" />
                            <label for="search_nav"><i class="material-icons">search</i></label>
                            <input class="desktop_search_input" type="submit" tabindex="-1" />
                          </div>
                        </form>
                    </li>
                    <!--li class=""><a href="/gallery" class="" alt="View Online Only" ><i class="material-icons " title="View Online Gallery">view_module</i></a></li-->
                    {{#if currentUser}}
                      <li><a class="addModal-trigger  " href="#modalAdd"><i class="material-icons left" title="Add a Business">add_location</i>Add</a></li>
                    {{else}}
                      <li><a class=" " href="/register" alt="Add A Business"><i class="material-icons left" title="Add a Business">add_location</i>Add</a></li>
                    {{/if}}
                    <li>{{> catSelect}}</li>
                    <li class="hide-on-small-only">
                      <a href="/kibu" alt="About KIBU"><i class="material-icons left" title="About KIBU">info_outline</i>About</a>
                    </li>
                    <li class="right">
                        <div class="select_wrapper">
                            <a class="dropdown-button more_icon" alt="..." data-activates="more-dropdown" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-stoppropagation="true" > 
                               <i class="material-icons more_icon" title="...">more_vert</i>
                               
                            </a>
                            <ul id="more-dropdown" class="dropdown-content">
                                <li class="flex-center">
                                    <a class="link-share" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkibumap%2Ecom&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%2E" target="_blank" rel="noopener" title="Share on Facebook" >
                                        <img class=" " src="/img/fbook-share.png" alt="Share on Facebook"/>
                                    </a>
                                    <a class="link-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2FKIBUmap%2Ecom&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%2E&amp;source=www%2Ekibumap%2Ecom" target="_blank" rel="noopener" title="Share on LinkedIn" >
                                        <img class=" " src="/img/linkedin-share.png" alt="Share on LinkedIn"/>
                                    </a>
                                    <a class="link-share " href="https://twitter.com/intent/tweet?text=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%3A+KIBUmap%2Ecom" target="_blank" rel="noopener" title="Share on Twitter">
                                        <img class=" " src="/img/twitter-share.png"  alt="Share on Twitter"/>
                                    </a>
                                </li>
                                <li class="hide-on-med-and-up"><a href="/kibu">About Us</a></li>
                                <li><a href="/terms">Terms &amp; Conditions </a></li>
                                <li class="divider"></li>    
                                {{#if currentUser}}                        
                                <li><a class="signout_btn" href="#">Sign Out</a></li>
                                {{else }}
                                <li><a class="signin_btn" href="/login">Sign In</a></li>
                                  <!--li> {{> atNavButton}} </li-->
                                {{/if}}
                            </ul>                    
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{> sideCard}}    
    {{> mobileNav}}

    <!-- Modals stays below here in nav Template or else show behind gray overlay-->
    {{> addForm}}
    {{> editForm}}
    {{> verifyForm}}
    {{> claimForm}} 
    {{> infoModal}}
    {{> betaModal}}
    {{> geoModal}}
    <!-- Modals stay above here in nav Template or else show behind gray overlay-->
</template>

<template name="results">
    <ul class="">
        <li>{{name}}</li>
    </ul>
</template>

<template name="leftSide">
<div class="hide-on-med-and-down">
    {{> closestPage}}
    {{#if hasFavorites}}
        {{> favoritesPage}}
    {{/if}}
</div>
</template>