
<template name="nav">

    <div id="mainNav" class="navbar-fixed">
        <nav class="z-depth-2 nav">
            <div class="nav-wrapper">
                <a class="brand-logo left" href="/">
                    <img class="responsive-img" src="/img/Logo_MOBB-banner.png" alt="The MOBB Home Page" />
                    {{> bragBox}}
                </a>

                <ul class="nav-list right">
                    <li class="hide-on-small-only">
                        <form id="desktop_search-form">
                          <div class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input id="search_nav" placeholder="Search..." size="15" class="form-control typeahead" tabindex="1" name="results" type="text" autocomplete="on" spellcheck="off" data-sources="dataset" />
                            <input class="desktop_search_input" type="submit" tabindex="-1" />
                          </div>
                        </form>
                    </li>
                    <!--li class=""><a href="/gallery" class="" alt="View Online Only" ><i class="material-icons " title="View Online Gallery">view_module</i></a></li-->
                    {{#if currentUser}}
                      <li><a class="modal-trigger" href="#modalAdd"><i class="material-icons left" title="Add a Business">add_location</i>Add</a></li>
                    {{else}}
                      <li><a class=" modal-trigger " href="#loginModal" alt="Add A Business"><i class="material-icons left" title="Add a Business">add_location</i>Add</a></li>
                    {{/if}}
                    <li>{{> mapFilter}}</li>
                    <li class="hide-on-small-only">
                      <a class="modal-trigger" href="#aboutModal" alt="About MOBB"><i class="material-icons left" title="About MOBB">info_outline</i>About</a>
                    </li>
                    <li class="right">
                        <div class="select_wrapper">
                            <a class="dropdown-button more_icon" alt="..." data-activates="more-dropdown" data-beloworigin="true" data-constrainwidth="false" data-alignment="right" data-stoppropagation="true" > 
                               {{#if currentUser.profile.picture}}
                               <img class="circle" src="{{currentUser.profile.picture}}" />
                               {{else}}
                               <i class="material-icons more_icon" title="...">account_circle</i>
                               {{/if}}
                               
                            </a>
                            <ul id="more-dropdown" class="dropdown-content">
                                <li class="flex-center">
                                    <a class="link-share" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2FMOBB%2Ebiz&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%2E" target="_blank" rel="noopener" title="Share on Facebook" >
                                        <img class=" " src="/img/fbook-share.png" alt="Share on Facebook"/>
                                    </a>
                                    <a class="link-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2FMOBB%2Ebiz&amp;title=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%2E&amp;source=www%2EMOBBapp%2Ecom" target="_blank" rel="noopener" title="Share on LinkedIn" >
                                        <img class=" " src="/img/linkedin-share.png" alt="Share on LinkedIn"/>
                                    </a>
                                    <a class="link-share " href="https://twitter.com/intent/tweet?text=Locate%2C+Promote%2C+%26+Support+a+Business+Owned+By+Us%3A+MOBB%2Ebiz" target="_blank" rel="noopener" title="Share on Twitter">
                                        <img class=" " src="/img/twitter-share.png"  alt="Share on Twitter"/>
                                    </a>
                                </li>
                                <li class="hide-on-med-and-up"><a class="modal-trigger" href="#aboutModal" alt="About MOBB">About</a></li>
                                {{#if currentUser}}                        
                                <li><a class="signout_btn" href="#!">Sign Out</a></li>
                                {{else }}
                                {{!-- <li><a class="signin_btn" href="/login">Sign In</a></li> --}}
                                <li><a class="modal-trigger signin_btn" href="#loginModal">Sign In</a></li>
                                  <!--li> {{> atNavButton}} </li-->
                                {{/if}}
                            </ul>                    
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{> addForm}}
    {{> sideCard}}    
   
    <!-- Modals stays below here in nav Template or else show behind gray overlay-->
    
    {{> editForm}}
    {{> verifyForm}}
    {{> claimForm}} 
    {{> loginModal}}
    {{> aboutModal}}
    
    {{> mobileNav}}

    {{!-- {{> splashModal}} --}}
    <!-- Modals stay above here in nav Template or else show behind gray overlay-->
    {{#if haveLocation}}    
      {{> closestCard}}
    {{/if}}
</template>

<!-- FOR TYPEAHEAD RESULTS -->
<template name="results">
    <ul class="">
        <li>{{name}}</li>
    </ul>
</template>

<template name="rightSide">
<div class="hide">
    {{!-- {{> closestPage}} --}}
    {{#if hasFavorites}}
        {{> favoritesPage}}
    {{/if}}
</div>
</template>