

<template name="nav2">
    <div class="navbar-fixed">
        {{> corner_ribbon}}
        <nav class="grey darken-1 z-depth-0 nav-extended">
            <div class="nav-wrapper">

                <a class="brand-logo left" href="/">
                    <img class="responsive-img " src="/img/kibu-logo_sm.png" alt="KIBU: The Map" />
                </a>


                <ul class=" nav-list right">
                    <li class="hide-on-small-only ">
                        <form id="desktop_search-form">
                          <div class="input-field">
                            <input id="search_nav" placeholder="Search..."  class="amber-text form-control typeahead" name="results" type="text" autocomplete="off" spellcheck="off" data-sources="dataset" />
                            <label for="search_nav"><i class="material-icons">search</i></label>
                            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                          </div>
                        </form>
                    </li>
                    <li>{{> catSelect}}</li>
                    <!--li class=""><a href="/gallery" class="" alt="View Online Only" ><i class="material-icons " title="View Online Gallery">view_module</i></a></li-->
                    {{#if currentUser}}
                      <li><a class="addModal-trigger  " href="#modalAdd"><i class="material-icons left" title="Add a Business">library_add</i>Add</a></li>
                    {{else}}
                      <li><a class="" href="/register" alt="Add A Business"><i class="material-icons left" title="Add a Business">library_add</i>Add</a></li>
                    {{/if}}
                      <!--li class="hide-on-med-and-up"><a class="btn waves-effect waves-dark tooltipped" href="/categories/Online Only" alt="View Online Listings" data-tooltip="View by List" >Online<i class="material-icons " title="View List">view_list</i></a></li-->
                      <!--li class="hide-on-med-and-up"><a class="btn waves-effect waves-dark" href="/list" alt="View Online Listings"><i class="material-icons">filter_list</i></a></li-->
                    
                </ul>
            </div>

            <div id="mobile-search_wrapper" class="grey darken-2 hide-on-med-and-up nav-content">
                <div class="hoverable">
                    <form id="mobile_search-form">
                      <div class="input-field">
                        <input id="search_mo" placeholder="Search for Your City... "  class="amber-text form-control" type="text" autocomplete="off" spellcheck="off" />
                        <label for="search_mo"><i class="material-icons">search</i></label>
                        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
                      </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <!-- Modals stays below here in nav Template or else show behind gray overlay-->
    {{> addForm}}
    {{> editForm}}
    {{> verifyForm}} 
    {{> infoModal}}
    {{> directionsModal}}
    {{> shareModal}}
    {{> betaModal}}
    {{> geoModal}}
    <!-- Modals stay above here in nav Template or else show behind gray overlay-->
</template>

<template name="results">
    <ul class="">
        <li>{{name}}</li>
    </ul>
</template>