$clr-main: rgba(251, 176, 59, 1);
$clr-green: rgba(134, 175, 73, 1);
$clr-orange: rgba(251, 176, 59, 1);
$clr-orange-dark: rgba(225, 126, 59, 1);
$clr-grey-clear: rgba(200, 200, 200, .5);
$clr-grey: #444;
$clr-brown: #6a6340;
$clr-orange2: #ed7e0e;
$clr-purple: #3e1aa3;
$clr-teal: #0d7693;
$clr-gold: #ab9210;
$clr-grey-light: rgba(117, 117, 117, 1);
